block content
  h1 Usages
  p Please refer to 
    a(href='https://github.com/htq287/macos-check-for-updates/tree/master/backend', role='button', target="_blank") my tutorial 
    span.
      for details